
html {
    font-size: 10px;
    /*ZCOOL QingKe HuangYou*/
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: #00539F
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0px 20px 20px 20px;
    border: 6px solid black;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
}
